@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  
  --color-theme-primary: #FF204E;
  --color-theme-secondary: #A0153E;
  --color-theme-dark: #5D0E41;
  --color-theme-navy: #00224D;
}

body {
  font-family: var(--font-sans);
  background-color: #00224D; /* Navy background */
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #00224D;
}
::-webkit-scrollbar-thumb {
  background: #5D0E41;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A0153E;
}
